body {
  font-style: sans-serif;
}

.jumbotron {
  text-transform: capitalize;
  color: rgb(40, 30, 30);
  background-image: linear-gradient(
    to right,
    green,
    rgb(255, 255, 255),
    rgb(255, 4, 0)
  );
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 60px;
  font-family: "Itim", cursive, sans-serif;
  margin: 0;
}

article {
  margin-left: 30px;
  margin-right: 30px;
}

.main-content {
  border-bottom: 1px ridge;
  padding: 60px 0;
  min-height: 200px;
  min-width: 400px;
}

.img-content {
  margin-top: 30px;
  border-bottom: 1px ridge;
  padding: 60px 0;
  padding-bottom: 35px;
  min-height: 200px;
  min-width: 400px;
}

ul {
  padding: 20px;
  line-height: 4;
  font-family: "Montserrat", sans-serif;
}

span {
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

p {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

li {
  font-family: "Montserrat", sans-serif;
}

footer {
  border-top: 1px ridge;

  padding-top: 15px;
}

.container-fluid {
  max-height: 900px;
  margin-top: 60px;
  padding-bottom: 4rem;
  border-bottom: 1px ridge;
}

.custom-class {
  object-fit: cover;
  height: 400px;
  width: 400px;
}

/* media queries */

@media (min-width: 1500px) {
  .jumbotron {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 620px) {
  .jumbotron {
    padding: 50px;
  }
}

@media screen and (min-width: 1500px) {
  p,
  ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1500px) {
  span {
    font-size: 24px;
  }
}

@media screen and (min-width: 1500px) {
  ul {
    font-size: 20px;
  }
}

@media screen and (max-width: 590px) {
  .custom-class {
    object-fit: cover;
    height: 370px;
    width: 320px;
  }
}

@media screen and (max-width: 640px) {
  .custom-class {
    object-fit: cover;
    height: 350px;
    width: 300px;
  }
}

@media screen and (min-width: 820px) {
  .custom-class {
    object-fit: cover;
    height: 520px;
    width: 630px;
  }
}

@media screen and (min-width: 950px) {
  .custom-class {
    object-fit: cover;
    height: 590px;
    width: 100%;
  }
}

@media screen and (min-width: 1370px) {
  .custom-class {
    object-fit: cover;
    height: 670px;
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .custom-class {
    object-fit: cover;
    height: 690px;
    width: 100%;
  }
}

@media screen and (max-width: 645px) {
  .container-fluid {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .container-fluid {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 578px) {
  .navbar {
    max-height: 70px;
  }
}

.navbar {
  background-color: #302f2f;
  margin: 0;
}

.navbar a,
ul {
  padding: 0;
}

img {
  padding-right: 0;
  margin-right: 0;
}

.hidden {
  display: none;
}

.card-text {
  font-size: 14px;
}
